# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# macOS
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/
macos/flutter/ephemeral/

# IDE
.idea/
.vscode/
*.iml

# Misc
*.log
.DS_Store
