# Flutter-related – ignore generated ephemeral files but keep xcfilelist placeholders
**/Flutter/ephemeral/Flutter-Generated.xcconfig
**/Flutter/ephemeral/.app_filename
**/Flutter/ephemeral/tripwire
**/Flutter/ephemeral/.symlinks
**/Pods/**
!**/Pods/Target Support Files/
!**/Pods/Target Support Files/Pods-Runner/
!**/Pods/Target Support Files/Pods-Runner/*.xcfilelist
!**/Pods/Target Support Files/Pods-Runner/*.sh

# Xcode-related
**/dgph
**/xcuserdata/
